body {
  background-color: hsl(214, 22%, 19%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: sans-serif;
}

a {
  color: white;
}

h1 {
  font-family: 'Montserrat';
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.links {
  margin-bottom: 2em;
}
