body {
  background-color: hsl(213, 23%, 19%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: sans-serif;
}

h1 {
  font-family: 'Montserrat';
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__desc,
.header__desc {
  text-align: center;
  margin: 0;
}

.nav {
  .menu-header-menu-container {
    width: 100%;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    background-color: hsl(37, 90%, 51%);
    padding: 0.6em;

    li {
      list-style-type: none;
    }
  }
}

.nav a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: hsl(0, 0%, 100%);
  }
}

.team__member {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;

  &::after {
    content: '';
    display: block;
    background-color: hsl(37, 90%, 51%);
    width: 25%;
    height: 1px;
    margin: 2em auto;
  }
}

.member__img {
  object-fit: cover;
  width: 123px;
  height: 123px;
}

.member__info {
  margin-left: 1.5em;

  .member__paragraph {
    margin-bottom: 0.25em;
    color: hsla(0, 0%, 100%, 0.65);
  }

  .member__paragraph--name {
    font-size: 1.3em;
    color: hsl(37, 90%, 51%);
    font-weight: 500;
    margin-bottom: 0.4em;
  }

  .member__paragraph--workplace {
    color: hsla(0, 0%, 100%, 0.75);
  }

  .member__icon {
    margin-right: 0.25em;
    color: hsl(37, 90%, 51%);
  }

  .member__icon--mobile {
    &::after {
      content: '';
      margin-left: 0.4em;
    }
  }
}

.services__image {
  width: 100%;
}

.sub-menu {
  flex-direction: column;
}

.service__row {
  margin: 0;
  font-size: 1.2em;
  color: hsl(37, 90%, 51%);
}

.service__desc {
  color: hsla(0, 0%, 100%, 0.75);
}

.service__icon {
  margin-right: 0.25em;
  color: hsl(37, 90%, 51%);
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.service__header {
  color: hsl(37, 90%, 51%);
}

.container-fluid--button {
  display: flex;
  justify-content: center;
}

.service__link {
  color: hsl(37, 90%, 51%);
  text-decoration: none;

  &:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: none;

    .service__button {
      background-color: hsl(37, 90%, 51%);
    }
  }

  .service__button {
    all: unset;
    border: 1px solid hsl(37, 90%, 51%);
    border-radius: 3px;
    padding: 0.7em 2em;
    transition: all 250ms ease-in-out;
  }
}

.button__icon {
  margin-left: 0.5em;
}

.third-row {
  position: relative;
  height: 110vh;

  .third-row__header,
  .third-row__desc,
  .third-row__image {
    position: absolute;
  }

  .third-row__header,
  .third-row__desc {
    transform: translateX(-50%);
    left: 50%;
    text-shadow: 1px 1px 0 black;
  }

  .third-row__header {
    font-size: 4em;
    top: 10%;
    font-weight: 500;
  }

  .third-row__desc {
    font-size: 1.5em;
    top: 22%;
    text-align: center;
    line-height: 1.65em;
  }

  .third-row__image {
    top: 0;
    left: 0;
    filter: grayscale(100%) brightness(30%);
  }
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col > * {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.services__desc {
  font-size: 2em;
  text-align: center;
  margin: 0.4em 0;
}
